{% extends 'base.html' %}

{% block content %}
<h1>List of books</h1>
<div class = 'row '>
{% for book in books %}

	<div class="card my-card col-md-4" style="width: 18rem;">
	{% if book.image %}
  <img src="{{book.image.url}}" class="card-img-top" alt="pic">
  {% endif%}
  <div class="card-body">
    <h5 class="card-title">{{book.name}}</h5>
    <p class="card-text">{{book.condition}}</p>
    <p class="card-text">Seller: {{book.seller}}</p>
    <a href="{% url 'detail' book.id %}" class="btn btn-dark">View</a>
    {% if book.inStock == True %}
    <button 
    class = 'btn btn-white bg-white  col-2' 
    onClick=Buy({{book.id}})>
    <i class="fas fa-shopping-cart {% if book in books_bought %} text-success {% endif %}" id='Buy-{{book.id}}'></i></button>
    {% else %}

    <p>Out Of Stock!</p>
    {% endif %}
  </div>
</div>
	{% endfor %}
</div>





<script type="text/javascript">
	function Buy(id){
		var Buy = '#Buy-' + id
		$.ajax({
			type: 'GET',
			url: '/books/' + id + '/buy/',
			error: function(){
				alert('something went wrong')

			},
			success: function(data){
				if (data.action === 'add'){
					$(Buy).addclass('text-success ')
					
				}else{
					$(Buy).removeclass('text-success ')
					
				}


			},
		})
	}
</script>

{% endblock content%}